/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body {
  position: relative;
  background-color: rgba(0, 0, 0, 1); /* Adjust the alpha value as needed */
}

body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/beach.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.15; /* Adjust the opacity value as needed */
  z-index: -1;
}

nav ul a,
nav .brand-logo {
  color: #fff;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: #809dab;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
  color: #809dab;
}

footer.page-footer {
  margin: 0;
}

.center-btn { text-align: center }

/*
When creating your CSS selector,
change "brown" to something of your choosing
*/
.waves-effect.waves-sky .waves-ripple {
  /* The alpha value allows the text and background color
  of the button to still show through. */
  background-color: #809dab;
}

/* Center Nav Bar */
#nav ul { text-align: center; }


h1 {
  font-size: 200px;
}
h5 {
    font-size: 1.5rem;
}


.cheatbox {
  background-color: white;
  padding: 10px;
  border: 8px solid #809dab;
  marn-bottom: 20px;
  margin-top: 20px;
}

@font-face {
  font-family: "typogarden-demo";
  src: url("../fonts/typogarden-demo.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "DutchHarley";
  src: url("../fonts/DutchHarley.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "LittleSnorlax";
  src: url("../fonts/LittleSnorlax.ttf") format("truetype");
  font-weight: 200;
}

.hillz {
  color: white;
  font-family: "DutchHarley", "LittleSnorlax", "typogarden-demo", "sans-serif";
}

.materialboxed:hover:not(.active) {
  opacity: 1;
}

.materialboxed {
  transition: opacity .1s;
}

.recent_projects_box {
  background-color: RGBA(128, 157, 171, .46);
  padding: 25px !important;
  padding-bottom: 5px !important;
  padding-top: 5px !important;
}

.container {
  margin: 0 auto;
  max-width: 2560px;
  width: 80%;
}
spacer: {
    height: 25px;
}
code{
    letter-spacing:-.1em;
    font-size: 17px;
    font-family: "Courier";
    color:#238543;

}