/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  background-image: url("../images/beach.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

nav ul a,
nav .brand-logo {
  color: #fff;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: #809dab;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
  color: #809dab;
}

footer.page-footer {
  margin: 0;
}

.center-btn { text-align: center }

/*
When creating your CSS selector,
change "brown" to something of your choosing
*/
.waves-effect.waves-sky .waves-ripple {
  /* The alpha value allows the text and background color
  of the button to still show through. */
  background-color: #809dab;
}

/* Center Nav Bar */
#nav ul { text-align: center; }


h1 {
  font-size: 120px;
}
